*.o
*.vscode/
dockepos
*.conf
hello
*.img
*.out
eposcfg
eposmkbi

# Generated apps
app/philosophers_dinner/philosophers_dinner
img/philosophers_dinner
app/p1_scheduler_test/p1_scheduler_test
img/p1_scheduler_test
app/p2_tests/p2_tests
img/p2_tests
